body {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, #8277FF, #FF7777);
    font-family: 'Bradley', Hand, cursive;
}
.Naglowek
{
    text-align: left;
}
.dc
{
    position: absolute;
    left: 2px;
    bottom: 2px;
    block-size: 60px;
    border-radius: 50%;
    padding: 10px;
}
.yt
{
    position: absolute;
    left: 75px;
    bottom: 2px;
    block-size: 60px;
    border-radius: 50%;
    padding: 10px;
}