body {
    background: linear-gradient(to right, #2C3E50, #34495E);
    height: 100vh;
    overflow: hidden;
  }
  
  .Naglowek {
    text-align: center;
  }
  
  .Lista {
    font-family: Georgia, serif;
    font-size: 25px;
  }
  
  .Pion, .Poziomo, .Ukos, .Remis {
    block-size: 100px;
  }
  /* Menu */
#menu {
    position: fixed;
    top: 2%;
    right: 2%;
    background-color: #613ce7;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    color: white;
    padding-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Cień dla menu */
  }
  
  #menu:hover {
    background-color: #5234bd; /* Ciemniejszy czerwony przy najechaniu */
  }
  
  .dc {
    position: absolute;
    right: 2px;
    bottom: 2px;
    block-size: 60px;
    border-radius: 50%;
    padding: 10px;
  }
  
  .yt {
    position: absolute;
    right: 75px;
    bottom: 2px;
    block-size: 60px;
    border-radius: 50%;
    padding: 10px;
  }
  