:root
{
    --glowny-color: #8D6852;
    --drugi-color: #efef3f;
    --trzeci-color: #FBEFDF;
    --czwarty-color: #462E25;
}


body
{
    background-color: var(--glowny-color);
    font-family: 'Comic Sans MS';
}
button
{
    background: none;
    border: none;
}
#wczytaj, #zapisz, #tytylk
{
    display: inline-block;
    margin-left: 10px;
}
#kwadrat
{
    width: 600px;
    height: 300px;
    overflow-y: auto;
    margin: 0 auto;
    color: white;
    padding: 10px;
}
#tkwadratu
{
    width: 700px;
    height: 600px;
    background-color:  var(--trzeci-color);
    border-radius: 5%;
    margin: 0 auto;
    margin-top: 5%;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
#tytylkwadratu
{
    text-align: center;
    color: var(--czwarty-color);
}

section
{
    margin: 0 auto;
    background-color: var(--glowny-color);
    border-radius: 10px;
    color: white;
}
section:hover
{
    background-color: var(--czwarty-color);
}
section button
{
    color: white;
    font-size: 20px;
}
#dodaj
{
    padding: 50px;

}
#plus
{
    font-size: 20px;
}
#dodawanie
{
    color: white;
    margin-left: 30%;
    clear: both;
    background-color: var(--czwarty-color);
    height: 70px;
    width: 200px;
    border-radius: 5%;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
#tytylkwadratu
{
    color: var(--czwarty-color);
}
.edytuj {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--trzeci-color);
    border: 1px solid var(--glowny-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 1000;
    height: 350px;
    width: 500px;
    border-radius: 5%;
}
.edytuj button
{
    position: fixed;
    top: 80%;
    left: 30%;
    background-color: var(--czwarty-color);
    height: 70px;
    width: 200px;
    border-radius: 5%;
    color: white;
}
input, #txtarea
{
    background: none;
    border: none;
    color: var(--czwarty-color);
    font-family: 'Comic Sans MS';
}
input
{
    width: 496px;
    height: 40px;
    color: var(--czwarty-color);
    font-size: 25px;
}
input::placeholder
{
    color: var(--czwarty-color);
    font-family: 'Comic Sans MS';
    font-size: 25px;
}

input:focus {
    outline: none;
    border: none; 
}

hr
{
    border: 0;
    height: 1px;
    background-color: var(--czwarty-color);
}

#txtarea
{
    height: 168px;
    width: 496px;
    background-color: transparent;
    border: 1px solid var(--czwarty-color);
    font-family: 'Comic Sans MS';
    font-size: 15px;
}
#txtarea::placeholder
{
    color: var(--czwarty-color);
    font-family: 'Comic Sans MS';
    font-size: 15px;
}

#txtarea2
{
    height: 168px;
    width: 496px;
    background-color: transparent;
    border: 1px solid var(--czwarty-color);
    font-family: 'Comic Sans MS';
    font-size: 15px;
}
#txtarea2::placeholder
{
    color: var(--czwarty-color);
    font-family: 'Comic Sans MS';
    font-size: 15px;
}

.opis-container 
{
    display: flex;          
    align-items: center;
}

.sekcja 
{
    margin: 20px 0;          
    height: 100px;
}

.przyciski
{
    padding-left: 400px;
    margin-top: -66px;
}

#edytuj, #usun, #zaznacz
{
    padding: 15px;
}

.opis1
{
    width: 400px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    margin-left: 10px;
}
.Tytul1
{
    margin-left: 10px;
}
.zaznaczone .Tytul1,
.zaznaczone .opis1 {
    text-decoration: line-through; 
}
