/* div {
    border: 1px dotted #00ff00;
} */
body {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, #8277FF, #FF7777);
}
.glownyKontener
{
    /* border: 3px dotted red; */
    height:90vh;
    margin-top: 50px;
}
.naglowek
{
    /* border: 3px dotted red; */
    text-align: center;
    width:100%;
}
.graczJedenDiv
{
    margin: 0 50px;
    display: inline-block;
    width:15%;
    /* border: 3px dotted red; */
    background-color: aqua;
}
.graczDwDiv
{
    margin: 0 50px;
    display: inline-block;
    width:15%;
    /* border: 3px dotted red; */
    background-color: rgb(253, 95, 95);
}
.czescWlasciwa
{
    /* border: 3px dotted red; */
    text-align: center;
    width:100%;
    position: relative;
    margin-top: 5%;
}
.kolko
{
    
    display: inline-block;
    width:20%;
    height: 100%;
    
    /* filter: drop-shadow(0 0 15px #00d0ff); */
    /* border: 3px dotted red; */
}
.plansza
{
    
    display: inline-block;
    width:30%;
    margin: 0 10%;
    height: 50vh;

    /* border: 3px dotted red; */
}
.krzyzyk
{
    display: inline-block;
    height: 100%;
    width:20%;
    
    /* -webkit-filter: drop-shadow(0 0 15px #ff0000); */
    /* filter: drop-shadow(0 0 15px #ff0000); */
    /* border: 3px dotted red; */
}
.rzad1
{
    /* border: 3px dotted blue; */
    /* background-color: #aaa; */
    border-bottom: 3px solid black;
    height: 33%;
}
.rzad2
{
    /* border: 3px dotted blue; */
    /* background-color: #aaa; */
    border-bottom: 3px solid black;
    height: 33%;
    
}
.rzad3
{
    /* border: 3px dotted blue; */
    /* background-color: #aaa; */
    height: 33%;
}
.pole1
{
    /* border: 3px dotted blue; */
    display: inline-block;
    width: 30%;
    border-right: 3px solid black;
    height: 100%;
    
    
}
.pole2
{
    /* border: 3px dotted blue; */
    display: inline-block;
    width: 30%;
    border-right: 3px solid black;
    height: 100%;
    
    
}
.pole3
{
    /* border: 3px dotted blue; */
    display: inline-block;
    width: 30%;
    height: 100%;
}
img
{
    width: 100%;
}
.plansza img {
    display: none;
    block-size: 100%;
}
.Wyjscie
{
    background-color: transparent;
    border-radius: 30px;
    font-size: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 10px;
    width: 190px;
    position: absolute;
    right: 10px;
    top: -80px;
}
.Reset
{
    background-color: transparent;
    border-radius: 30px;
    font-size: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 10px;
    width: 190px;
    position: absolute;
    right: 10px;
    top: -55px;
}
#Nickname1, #Nickname2
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}